#clock-box {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
#clock {
  font-size: 12rem;
  letter-spacing: -5px;
  color: white;
  cursor: pointer;
}
