#todoBox {
  width: 270px;
  height: 450px;
  position: absolute;
  background-color: white;
  z-index: 5;
  top: 35%;
  left: 80%;
  border-radius: 5px;
}
.margin-left {
  padding-left: 10px;
}

.styled-btn {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

#todo-header {
  width: 270px;
  height: 12%;
  font-size: 20px;
  display: flex;
  align-items: center;
}
#todo-list {
  width: 270px;
  height: 80%;
  font-size: 1rem;
  overflow-y: scroll;
}
#todo-checkbox {
  margin-right: 8px;
}
#todo-item {
  font-size: 1rem;
  padding-bottom: 10px;
}

#todo-input-box {
  width: 270px;
  height: 8%;
  display: flex;
  align-items: center;
}
#todo-input {
  font-size: 1rem;
  border: none;
  outline: none;
  width: 240px;
}
