.fadeup {
  animation: fadeup 0.5s ease-in-out;
  -moz-animation: fadeup 0.5s ease-in-out;
  /* Firefox */
  -webkit-animation: fadeup 0.5s ease-in-out;
  /* Safari and Chrome */
  -o-animation: fadeup 0.5s ease-in-out;
}
#todoBox {
  width: 270px;
  height: 450px;
  position: absolute;
  background-color: white;
  z-index: 5;
  top: 35%;
  left: 80%;
  border-radius: 5px;
}
.margin-left {
  padding-left: 10px;
}

.styled-btn {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.styled-btn-black {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  color: black;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
#todo-header {
  width: 270px;
  height: 12%;
  font-size: 20px;
  display: flex;
  align-items: center;
}
#todo-list {
  width: 270px;
  height: 80%;
  font-size: 1rem;
  overflow-y: scroll;
}
#todo-checkbox {
  margin-right: 8px;
}
#todo-item {
  font-size: 1rem;
  padding-bottom: 10px;
}

#todo-input-box {
  width: 270px;
  height: 8%;
  display: flex;
  align-items: center;
}
#todo-input {
  font-size: 1rem;
  border: none;
  outline: none;
  width: 240px;
}

@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 100%;
    transform: none;
  }
}

@-moz-keyframes fadeup {
  /* Firefox */
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 100%;
    transform: none;
  }
}

@-webkit-keyframes fadeup {
  /* Safari and Chrome */
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 100%;
    transform: none;
  }
}

@-o-keyframes fadeup {
  /* Opera */
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 100%;
    transform: none;
  }
}
